footer.main-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 12px;
  background-color: black;
  .container {
    width: 100%;
    nav {
      a {
        color: #99ddff;
        margin-right: 12px;
        font-size: 1.4vw;
        &:hover {
          color: white;
        }
      }
    }
  }
}
