.main-header {
  max-width: 15vw !important;
  padding: 0 42px !important;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
  height: 100vh;
  h1 {
    color: white;
    font-size: 11vw;
    letter-spacing: -0.4vw;
    span {
      margin-left: -2vw;
    }
  }
  a {
    color: white;
  }
  #contact {
    font-size: 1.4vw;
    margin: 0 0 24px;
    div {
      margin-bottom: 12px;
    }
    #clock {
      margin-bottom: 0;
      font-size: 1.2vw;
      #blinker {
        position: relative;
        -webkit-animation: blink 2s steps(1) infinite;
        animation: blink 2s steps(1) infinite;
        margin: 0 1px 0 2px;
      }
    }
  }
  #skillset {
    padding: 24px 0;
    svg {
      font-size: 2.2vw;
      margin: 12px 0;
      width: 25%;
      transition: 0.3s all ease;
      &:hover {
        transform: scale(1.1);
        transition: 0.3s all ease;
      }
    }
  }
  nav#social {
    padding: 24px 0;
    width: 100%;
    a {
      font-size: 3vw;
      &:hover {
        color: #99ddff;
      }
    }
  }
}
